*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}
body{
  min-height: 100vh;
  width: 100%;
}
a{
  color: #fef;
  text-decoration: none;
}
.navbar{
  width: 100%;
  padding: 20px 10%;
  background: #02376d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar nav{
  display: flex;
  gap: 16px;
  align-items: center;
}
a.active{
  color: #045ab1;
}